[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AcuityView"]
	path = AcuityView
	url = https://github.com/eleanorcaves/acuityview
